{% extends "SonataAdminBundle::standard_layout.html.twig" %}

{% block logo %}
    {% if admin_pool is defined %}
        {% spaceless %}
            <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
                {% if "single_image" == admin_pool.getOption("title_mode") or "both" == admin_pool.getOption("title_mode") %}
                    <img style="margin: 8px 0;" width="40" height="40" src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}">
                {% endif %}
                {% if "single_text" == admin_pool.getOption("title_mode") or "both" == admin_pool.getOption("title_mode") %}
                    <span>{{ admin_pool.title }}</span>
                {% endif %}
            </a>
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% block sonata_top_nav_menu %}
    {{ parent() }}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ path('homepage') }}">
                    <i class="fa fa-home fa-fw"></i>
                    {{ "button.back_home"|trans({}) }}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block side_bar_after_nav %}
    <!--{#
    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
        <a href="https://sonata-project.org" rel="noreferrer" target="_blank">sonata project</a>
    </p>
    #}-->
{% endblock %}
